body {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.Sign-up {
  width: 500px;
  height: 650px;
  border-radius: 20px;
  background-color: blueviolet;
}
.Sign-up h2 {
  color: white;
  text-align: center;
  font-size: 50px;
}
.Name input {
  margin-left: 30px;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}
.Email input {
  margin-left: 30px;
  border-radius: 10px;
  width: 440px;
  height: 40px;
}
.Password input {
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 10px;
  width: 440px;
  height: 40px;
}
.Conform input {
  margin-left: 30px;
  margin-top: 30px;
  border-radius: 10px;
  width: 440px;
  height: 40px;
}
.Checkbox input {
  margin-left: 90px;
  width: 13px;
  height: 13px;
  margin-top: 30px;
}
.Checkbox p {
  position: relative;

  bottom: 35px;
  left: 120px;
  color: white;
}
.button input {
  margin-left: 80px;

  border-radius: 10px;
  width: 340px;
  height: 40px;
}
.account p {
  color: white;
  text-align: center;
}
